<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>
<body>
    <form action="{{ url_for("authenticate") }}" method="post">
        <div class="input-field">
            <input type="text" name="code" placeholder="Enter the code:" required>
            <i class="uil uil-user"></i>
        </div>

        <!-- <a href="/authenticate?file={{fid}}"> -->
            <div class="input-field button">
                <input type="submit" id="sub" value="verify">
            </div>
        <!-- </a>         -->
    </form>
</body>
</html>